{# En blanco para generar espacio #}
<div class="page-header"></div>
    <div class="row">
        <div class="col-md-6">
            <img src="http://placehold.it/150x150">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>


        </div>
        <div class="col-md-6">
            <img src="http://placehold.it/150x150">
            <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
            </blockquote>


        </div>
    </div>